<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hospital System - Admin Manage Doctors</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="../static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/scss/bootstrap.scss" rel="stylesheet">

     <!-- remove favicon error -->
     <link rel="icon" href="data:,">

    

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="admin_home.html">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-hospital-alt"></i>
                </div>
                <div class="sidebar-brand-text mx-2">Hospital System</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="admin_home.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Manage
            </div>

             <!-- Nav Item - Manage Doctor -->
             <li class="nav-item">
                <a class="nav-link" href="admin_manage_doctors.html">
                    <i class="fas fa-fw fa-user-md"></i>
                    <span>Doctors</span></a>
            </li>

            <!-- Nav Item - Manage Patients -->
            <li class="nav-item">
                <a class="nav-link" href="admin_manage_patients.html">
                    <i class="fas fa-fw fa-user-injured"></i>
                    <span>Patients</span></a>
            </li>

            <!-- Nav Item - Manage Pharmacy -->
            <li class="nav-item">
                <a class="nav-link" href="admin_manage_pharmacy.html">
                    <i class="fas fa-fw fa-prescription"></i>
                    <span>Pharmacy</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Report
            </div>

            
            <!-- Nav Item - Report -->
            <li class="nav-item">
                <a class="nav-link" href="admin_report.html">
                    <i class="fas fa-fw fa-chart-bar"></i>
                    <span>Report</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 ">
                        <h1 class="h3 text-gray-800">Manage Doctors</h1>
                    </div>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <div class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Admin</span>
                            <img class="img-profile rounded-circle"
                                src="../static/img/admin3.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </div>

                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
                    <p class="mb-4">Insert message here <a target="_blank"
                            href="https://datatables.net">official DataTables documentation</a>.</p>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <div class="row" id="add_div">
                                <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
                                <button class="edit_btn btn-primary btn-sm ml-auto" data-toggle="modal" data-target="#addModal">Add Doctor</button>                            
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                
                                <table class="table table-bordered table-striped" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>doc_id</th>
                                            <th>first_name</th>
                                            <th>last_name</th>
                                            <th>aadhar_id</th>
                                            <th>chamber</th>
                                            <th>Salary</th>
											<th>dept_id</th>
											<th>timeslot</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>doc_id</th>
                                            <th>first_name</th>
                                            <th>last_name</th>
                                            <th>aadhar_id</th>
                                            <th>chamber</th>
                                            <th>Salary</th>
											<th>dept_id</th>
											<th>timeslot</th>
                                            <th></th>
                                        </tr>
                                    </tfoot>
                                    <tbody id="table-body">
										{% for doctor in doctor_table %}
                                        <tr>
                                            {% for element in doctor %}
											<td> {{element}} </td>
											{% endfor %}
											<td align="center">
												<button class="edit_btn btn-sm btn-info btn-icon-split" data-toggle="modal" data-target="#editModal"> 
                                                    <span class="icon"> <i class="fas fa-edit"></i> </span>
                                                    <span class="text">Edit</span> 
                                                </button>
												<button class="delete_btn  btn-sm btn-danger btn-icon-split">
                                                    <span class="icon"> <i class="fas fa-trash"></i> </span>
                                                    <span class="text">Delete</span> 
                                                </button>
											</td>
                                        </tr>
										{% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Hospital System By</span>
                        <span>Nisarg, Aayush, Arjav, Yash</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="home.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
	
	<!-- Edit Modal-->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Doctor Information</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
				<div class="modal-body">
					<form id="edit_doctor_form" action="/admin_manage_doctors.html" method="post" class="user" onsubmit="return validateEditDoctor()">
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<input name="fname" type="text" class="form-control form-control-user" id="fname" aria-labelledby="exampleFirstName" placeholder="First Name">
							</div>
							<div class="col-sm-6">
								<input name="lname" type="text" class="form-control form-control-user" id="lname" aria-labelledby="exampleLastName" placeholder="Last Name">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6">
								<input name="adhar_id" type="text" class="form-control form-control-user" id="adhar_id" aria-labelledby="adhar_id" placeholder="AadhAr ID">
							</div>
							<div class="col-sm-6 mb-3 mb-sm-0">
								<input name="salary" type="number" class="form-control form-control-user" id="salary" aria-labelledby="salary" placeholder="Salary">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<input name="chamber" type="text" class="form-control form-control-user" id="chamber" aria-labelledby="chamber" placeholder="Chamber">
							</div>
							<div class="col-sm-6">
								<input name="timeslot" type="number" class="form-control form-control-user" id="timeslot" aria-labelledby="timeslots" placeholder="Timeslots">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<select name="department" class="custom-select" id="department_select">
									{% for department in departments %}
										<option value="{{department[0]}}"> {{department[1]}}</option>
									{% endfor %}
								</select>
							</div>
						</div>
						<input type="hidden" name="docid" id="docid">
						<input type="hidden" name="edit_dept_id" id="edit_dept_id">
						<span id="message_span" style="color:red;padding:5px;"></span>
					</form>
				</div>
				<div class="modal-footer">
                    <button type="submit" form="edit_doctor_form" class="btn btn-secondary">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add Modal-->
    <div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add a new Doctor </h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
				<div class="modal-body">
					<form name="add_doctor_form" id="add_doctor_form" action="/admin_manage_doctors.html" method="post" class="user" onsubmit="return validateAddDoctor()">
						<div class="form-group row">
								<input name="docid" type="hidden" class="form-control form-control-user" id="docid" aria-labelledby="docid" placeholder="Doctor Id">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<input name="dept" type="hidden" class="form-control form-control-user" id="dept" aria-labelledby="exampleFirstName" placeholder="department">
								<select name="department" class="custom-select" id="dept_select">
									<option value="-1" selected>Select a Department</option>
									{% for department in departments %}
										<option value="{{department[0]}}"> {{department[1]}}</option>
									{% endfor %}
								</select>
                            </div>
							<input id="add_dept_id" name="add_dept_id" type="hidden">
                            <div class="col-sm-6">
								<input name="pass" type="text" class="form-control form-control-user" id="pass" aria-labelledby="pass" placeholder="Password">
							</div>
						</div>
                        <div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<input name="fname" type="text" class="form-control form-control-user" id="fname" aria-labelledby="exampleFirstName" placeholder="First Name">
							</div>
							<div class="col-sm-6">
								<input name="lname" type="text" class="form-control form-control-user" id="lname" aria-labelledby="exampleLastName" placeholder="Last Name">
							</div>
						</div>
                        <!-- <div class="form-group row">
							
						</div> -->
						<div class="form-group row">
							<div class="col-sm-6">
								<input name="adhar_id" type="text" class="form-control form-control-user" id="adhar_id" aria-labelledby="adhar_id" placeholder="AadhAr ID">
							</div>
							<div class="col-sm-6 mb-3 mb-sm-0">
								<input name="salary" type="number" class="form-control form-control-user" id="salary" aria-labelledby="salary" placeholder="Salary">
							</div>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<input name="chamber" type="text" class="form-control form-control-user" id="chamber" aria-labelledby="chamber" placeholder="Chamber">
							</div>
							<div class="col-sm-6">
								<input name="timeslot" type="number" class="form-control form-control-user" id="timeslot" aria-labelledby="timeslots" placeholder="Timeslots">
							</div>
						</div>
						<button type="submit" class="btn btn-secondary">Save</button>
                        <span id="message_span" style="color:red;padding:5px;"></span>
					</form>
				</div>
            </div>
        </div>
    </div>

        <!-- Bootstrap core JavaScript-->
        <script src="../static/vendor/jquery/jquery.min.js"></script>
        <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
        <!-- Core plugin JavaScript-->
        <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>
    
        <!-- Custom scripts for all pages-->
        <script src="../static/js/sb-admin-2.min.js"></script>
    
        <!-- Page level plugins -->
        <script src="../static/vendor/datatables/jquery.dataTables.min.js"></script>
        <script src="../static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    
        <!-- Page level custom scripts -->
        <script src="../static/js/demo/datatables-demo.js"></script>
		
		<script>
			function validateEditDoctor() {
				var selectedVal = $('#department_select').find('option:selected').val();
				$('#edit_dept_id').val(selectedVal);
				return commonValidation($('#edit_doctor_form'));
			}
			
			function validateAddDoctor() {
				var selectedVal = $('#dept_select').find('option:selected').val();
				if(selectedVal == '-1') {
					$('#message_span').text('Please choose a department.');
					return false;
				}
				$('#add_dept_id').val(selectedVal);
				return commonValidation($('#add_doctor_form'));
			}
			
			function commonValidation(form) {
				timeslot = form.find('#timeslot');
				if(timeslot.val().length != 18) {
					form.find('#message_span').text('Timeslot should be 18 characters long.');
					return false;
				}
				for(let i = 0; i < 18; i++) {
					if(timeslot.val()[i] != '0' && timeslot.val()[i] != '1') {
						form.find('#message_span').text('Timeslot should only contain 0s and 1s.');
						return false;
					}
				}
				return true;
			}
			
			$(document).ready(function() {
				$("#table-body").on('click', '.delete_btn', function() {
					var currentRow=$(this).closest("tr"); 
					var col1=currentRow.find("td:eq(0)").text(); // get current row 1st TD value
					currentRow.remove();
					var url = "/admin_manage_doctors.html";
					var params = "action=delete&docid="+col1.trim();
					var xhr = new XMLHttpRequest();
					xhr.open("POST", url, true);

					//Send the proper header information along with the request
					xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

					xhr.send(params);
				});
				
				$("#table-body").on('click', '.edit_btn', function() {
					var currentRow=$(this).closest("tr");
					$("#docid").val(currentRow.find("td:eq(0)").text().trim());
					$("#fname").val(currentRow.find("td:eq(1)").text().trim());
					$("#lname").val(currentRow.find("td:eq(2)").text().trim());
					$("#adhar_id").val(currentRow.find("td:eq(3)").text().trim());
					$("#chamber").val(currentRow.find("td:eq(4)").text().trim());
					$("#salary").val(currentRow.find("td:eq(5)").text().trim());
					$("#department_select").val(currentRow.find("td:eq(6)").text().trim())
					$("#timeslot").val(currentRow.find("td:eq(7)").text().trim());
				});
                 
                $("#add_div").on('click', '.edit_btn', function() {
                    var oform = document.forms["add_doctor_form"].value;
                    var docid = oform.elements["docid"].value;
                    var pass = oform.elements["pass"].value;
                    var fname = oform.elements["fname"].value;
                    var lname = oform.elements["lname"].value;
                    var dept = oform.elements["dept"].value;
                    var adhar_id = oform.elements["adhar_id"].value;
                    var chamber = oform.elements["chamber"].value;
                    var salary = oform.elements["salary"].value;
                    var timeslot = oform.elements["timeslot"].value;

                    var table = document.getElementById("dataTable");
                    var row = table.insertRow(0);
                    var cell0 = row.insertCell(0);
                    cell0.innerHTML = docid;
                    var cell1 = row.insertCell(1);
                    cell1.innerHTML = fname;
                    var cell2 = row.insertCell(2);
                    cell2.innerHTML = lname;
                    var cell3 = row.insertCell(3);
                    cell3.innerHTML = adhar_id;
                    var cell4 = row.insertCell(4);
                    cel4.innerHTML = chamber;
                    var cell5 = row.insertCell(5);
                    cell5.innerHTML = salary;
                    var cell6 = row.insertCell(6);
                    cell6.innerHTML = dept;
                    var cell7 = row.insertCell(7);
                    cell6.innerHTML = timeslot;
                    // var cell8 = row.insertCell(8);
                    // cell7.innerHTML = '<button class="edit_btn btn-sm btn-info btn-icon-split" data-toggle="modal" data-target="#editModal">' 
                    //                                 +'<span class="icon"> <i class="fas fa-edit"></i> </span>'
                    //                                 +'<span class="text">Edit</span>' 
                    //                             +'</button>'
					// 							+'<button class="delete_btn  btn-sm btn-danger btn-icon-split">'
                    //                                 +'<span class="icon"> <i class="fas fa-trash"></i> </span>'
                    //                                 +'<span class="text">Delete</span>' 
                    //                             +'</button>'
				});
			});
		</script>


</body>

</html>