<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hospital System - Patient Appointment</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

     <!-- remove favicon error -->
     <link rel="icon" href="data:,">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="patient_home.html">
                <div class="sidebar-brand-icon">
                    <i class="fas fa-hospital-alt"></i>
                </div>
                <div class="sidebar-brand-text mx-2">Hospital System</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="patient_home.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Booking
            </div>

             <!-- Nav Item - Book Appointment -->
             <li class="nav-item">
                <a class="nav-link" href="patient_book_appointment.html">
                    <i class="fas fa-fw fa-calendar-check"></i>
                    <span>Appointment</span></a>
            </li>

            <!-- Nav Item - Book Room -->
            <li class="nav-item">
                <a class="nav-link" href="patient_book_room.html">
                    <i class="fas fa-fw fa-bed"></i>
                    <span>Room</span></a>
            </li>

            

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Transactions
            </div>

            <!-- Nav Item - Buy -->
            <li class="nav-item">
                <a class="nav-link" href="patient_shop.html">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                    <span>Shop</span></a>
            </li>

            <!-- Nav Item - History -->
            <li class="nav-item">
                <a class="nav-link" href="patient_transaction_history.html">
                    <i class="fas fa-fw fa-history"></i>
                    <span>History</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <div class="d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 ">
                        <h1 class="h3 text-gray-800">Book Appointment</h1>
                    </div>

                    <div class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <div class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{p_name}}</span>
                            <img class="img-profile rounded-circle"
                                src="../static/img/patient2.svg">
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </div>


                </nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <!-- <h1 class="h3 mb-4 text-gray-800">Blank Page</h1> -->

                    <!-- Booking Appointment -->
                    <div class="card shadow">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Enter the booking details</h6>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="row">
                                    <div class="col-4 mb-4">
                                        <select id="doc_choose" class="custom-select">
                                            <option value="-1" selected>Choose Doctor</option>
                                            {% for doctor in doctor_names %}
                                            <option value="{{doctor[0]}}">{{doctor[1]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>                     
                                
                                <label>Choose Date</label>

                                <div class="row">
                                    
                                    <div class="col-2 mb" >
                                        <input type="date" class="form-control" placeholder="DD-MM-YYYY" autocomplete="off" >
                                    </div>
    
                                    <div class="col-2 ">
                                        <select id="slot_select" class="custom-select">
											{% for timeslot in doctor_slots %}
											<option value="{{timeslot[0]}}">{{timeslot[1]}}</option>
											{% endfor %}
                                        </select>
                                    </div>

                                </div>
          
                                <hr>
    
                                <a id="book_btn" href="#" class="btn btn-primary btn-icon-split">
                                    <span class="icon text-white-50">
                                        <i class="fas fa-check"></i>
                                    </span>
                                    <span class="text">Book Appointment</span>
                                </a>
                            </form> 
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Hospital System By</span>
                        <span>Nisarg, Aayush, Arjav, Yash</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="home.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>
	
	<script>
		var doctor_slots = [];
		$(document).ready(function() {
			doctor_slots = $('#slot_select>option').map(function() { return [$(this).val(), $(this).text()]; });
			$('#slot_select').empty().append('<option selected value="-1">Choose a doctor</option>');
			$('#doc_choose').on('change', function() {
				var selected_option = $(this).find('option:selected');
				$('#slot_select').empty().append('<option selected value="-1">Choose a doctor</option>');
				if(parseInt(selected_option.val(), 10) >= 0) {
					console.log(doctor_slots);
					for(let i = 0; i < doctor_slots.length; i+=2) {
						if(doctor_slots[i] == selected_option.val()) {
							for(let j = 0; j < doctor_slots[i+1].length; j++) {
								if(doctor_slots[i+1][j] == '1') {
									var start_hour = Math.floor(9 + j/2);
									var start_min = (j%2)*30;
									var ampm_start = "am";
									if(start_hour > 12) {
										start_hour -= 12;
										ampm_start = "pm";
									}
									var end_hour = start_hour;
									var end_min = start_min + 30;
									if(end_min == 60) {
										end_hour += 1;
										end_min = 0;
									}
									var ampm_end = "am";
									if(end_hour > 12) {
										end_hour -= 12;
										ampm_end = "pm";
									}
									$('#slot_select').append('<option value=' + j + '>' + Math.floor(start_hour/10) + (start_hour%10) + ':' + Math.floor(start_min/10) + (start_min%10) + ' ' + ampm_start + ' - ' + Math.floor(end_hour/10) + (end_hour%10) + ':' + Math.floor(end_min/10) + (end_min%10) + ' ' + ampm_end +'</option>');
								}
							}
						}
					}
				}
			});
		});
	</script>

</body>

</html>