<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hospital System - Patient Register</title>

    <!-- Custom fonts for this template-->
    <link href="../static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="../static/css/sb-admin-2.min.css" rel="stylesheet">

     <!-- remove favicon error -->
     <link rel="icon" href="data:,">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h3 text-gray-900 mb-4">Patient Register</h1>
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                <h1 class="h4 text-gray-900 mb-4">Your user id: {{value}}</h1>
                            </div>

                            <form action="/patient_register" method="post" class="user" onsubmit="return ValidationEventOfRegisterForm()">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="fname" type="text" class="form-control form-control-user" id="fname" aria-labelledby="exampleFirstName" placeholder="First Name">
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="lname" type="text" class="form-control form-control-user" id="lname" aria-labelledby="exampleLastName" placeholder="Last Name">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
										<select class="custom-select" id="blood_group_select" name="blood_group_select">
											<option selected value="-1">Choose a blood group</option>
											<option value="0">O-</option>
											<option value="1">O+</option>
											<option value="2">A-</option>
											<option value="3">A+</option>
											<option value="4">B-</option>
											<option value="5">B+</option>
											<option value="6">AB+</option>
											<option value="7">AB-</option>
										</select>
                                        <input name="blood_grp" type="hidden" id="blood_grp">
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="age" type="number" class="form-control form-control-user" id="age" aria-labelledby="exampleRepeatPassword" placeholder="Age">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="hidden" name="gender" type="text">
										<select class="custom-select" id="gender_select" name="gender_select">
											<option selected value="-1">Choose a gender</option>
											<option value="0">M</option>
											<option value="1">F</option>
											<option value="2">Other</option>
										</select>
                                    </div>
                                    <div class="col-sm-6">
                                        <input name ="ph_no" type="text" class="form-control form-control-user" id="ph_no" aria-labelledby="exampleRepeatPassword" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="address" type="text" class="form-control form-control-user" id="address" aria-labelledby="exampleInputPassword" placeholder="Address">
                                    </div>
                                    <div class="col-sm-6">
                                        <input name="adhar_id" type="text" class="form-control form-control-user" id="adhar_id" aria-labelledby="exampleRepeatPassword" placeholder="AadhAr ID">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="pass" type="password" class="form-control form-control-user" id="pass" aria-labelledby="exampleInputPassword" placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" id="password" aria-labelledby="exampleRepeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                            </form>


                            <hr>
                            <div class="text-center">
                                <a class="small" href="patient_login.html">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    

    <!-- Bootstrap core JavaScript-->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="../static/js/sb-admin-2.min.js"></script>

    <script>
        function ValidationEventOfRegisterForm() {
        // Storing Field Values In Variables
            var fname = document.getElementById("fname").value;

            var lname = document.getElementById("lname").value;

            var pwd = document.getElementById("pass").value;

            var repPwd = document.getElementById("password").value;

            var bloodgrp = document.getElementById("blood_group_select").getElementsByTagName("option")[document.getElementById("blood_group_select").selectedIndex].text;

            var age = document.getElementById("age").value;

            var gender = document.getElementById("gender_select").getElementsByTagName("option")[document.getElementById("gender_select").selectedIndex].text;

            var phone = document.getElementById("ph_no").value;

            var address = document.getElementById("address").value;

            var adhar_id = document.getElementById("adhar_id").value;
            

        // Conditions
            if (fname != '' && lname != '' &&  pwd != '' && repPwd != '' && bloodgrp!='Choose a blood group' && age!='' && gender!='Choose a gender' && phone!='' && address!='' && adhar_id!=''  ) {
                if(pwd == repPwd){
                    alert("Please take note of your USER ID and PASSWORD before pressing OK.");
                    return true;
                }
                else {
                    alert("Please repeat correct password");
                    return false;
                } 
            } 
            else {
                alert("All fields are required.....!");
                return false;
            }
        }
		
    </script>

</body>

</html>